*{
    margin: 0;
    padding: 0;
}
.head{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}
h1{
    text-align: center;
    text-decoration: underline;
    font-size: 27px;
    margin-top: 15px;
}
.main{
    padding: 0;
    width: 90%;
    height: 700px;
    margin: 100px auto;
    border: 2px soild black;
    display: flex;
    justify-content: space-between;
    

    
}
.box{
    
    width: 23%;
    height: 420px;
    

}
img{
    width: 100%;
}
h3,p{
    text-align: center;
}
@media all and (max-width: 430px) {
    h1{
        text-align: center;
       
    }
    .main{
        width: 100%;
        align-items: center;
        height: auto;
        flex-direction: column;
        margin-top: 25px;
    }
    .box{
        width: 84%;
        height: auto;
    }
    img{
        width: 100%;
    }
    h3{
        font-size: 18px;
    }
    p{
        font-size: 13px;
        margin-bottom: 25px;
    }
   
  
}
